:root {
  --main-color: rgba(255, 153, 0, 0.6);
  --main-color2: rgba(255, 153, 0, 1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}
body {
  background-color: rgb(255, 255, 255);
}

header {
  margin: 7px 100px 0 0;
  height: 100px;
  display: flex;
  flex-direction: row;
  position: relative;
}
/* TITULO 
.heading {
  color: rgb(231, 116, 21);
  position: relative;
  color: white;
  font-size: 40px;
  text-align: center;
  -webkit-text-stroke: 0.5px orange;
  text-transform: uppercase;
}

.heading::before {
  content: attr(data-text);
  position: absolute;
  top: 10px;;
  left:-370px;
  width: 0;
  height: 100%;
  color: orange;
  -webkit-text-stroke: 0.5px orange;
  border-right: 2px solid orange;
  overflow: hidden;
  white-space: nowrap;
  animation: animate 6s linear infinite;
  filter: drop-shadow(0 0 20px orange);
  color: orange;
}
@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */

/* FIN TITULO */
.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
}
.container .main-video {
  background: #f7f7f7;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main-video video {
  /* width: 800px; */
  max-width: 100%;
  border-radius: 5px;
  position: relative;
}

.container .main-video .title {
  color: #333;
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container .video-list {
  background: #f7f7f7;
  border-radius: 5px;
  height: 90vh;
  overflow-y: scroll;
}
.container .video-list::-webkit-scrollbar {
  width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}
.container .video-list::-webkit-scrollbar-thumb {
  background: #666;
  border-radius: 50px;
}

.container .video-list .vid video {
  width: 250px;
  bottom: 5px;
}

.container .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  /* background: #f7f7f7; */
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.container .video-list .vid:hover {
  background: #eee;
}

.container .video-list .vid.active {
  background-color: rgba(255, 153, 0, 0.6);
}

.container .video-list .vid.active .title {
  background-color: #fff;
}

.container .video-list .vid.active .title {
  background-color: #333;
  font-size: 17px;
}

/* Views */


/* Menu */
.container-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 50%;
  width: 48px;
  /* background-color: #f7f7f7; */
  justify-content: space-around;
  align-items: center;
}

.container-menu > a {
  color: black;
  font-size: 25px;
}

.container-menu > a:hover,
button:hover {
  color: var(--main-color);
}
.hamburguer {
  background-color: #fff;
  /* color: rgba(255, 153, 0,.6); */
  color: black;
  font-size: 20px;
  padding: 5px;
}
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  /* top: 70px; */
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 30px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  border: none;
}
/*   
  .openbtn:hover {
    background-color: #444;
  }
 */

/* Info */

.info {
  width: 100%;
  height: 50px;
  background-color: rgba(108, 202, 31, 0.8);
}

/* Controls Video*/

.container-video {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.container-video:hover .controls {
  transform: translateY(-3px);
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background: rgba(0, 0, 0, 1);
  transform: translateY(100%) translateY(-5px);
  transform: all 0.5s;
}

.menu-emrgente {
  font-size: 18px;
  padding-left: 10px;
}

.buttons button {
  background: none;
  border: 0;
  outline: 0;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

.buttons {
  padding: 10px;
}
.buttons > button {
  color: #fff;
}

.buttons button::before {
  width: 30px;
  height: 30px;
  display: inline-block;
  font-size: 28px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

.orange-bar {
  height: 5px;
  top: 10px;
  left: 0;
  width: 100%;
  background-color: black;
}
.orange-juice {
  height: 5px;
  width: 100%;
  background-color: orangered;
}

header > a{
    display: flex;
    align-items: center;
    justify-content: center;
} 

#volumen-bar{
  margin-top: 20px;
  color: #0c8e56;
}

@media (max-width: 1400px) {
  .container {
    grid-template-columns: 1.8fr 1fr;
    padding: 10px;
  }
  header{
    margin-left:50px ;
  }

}

@media (max-width: 1235px) {
  .container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wrapper {
  width: 100%;
  font-family: "Passion One", sans-serif;
  margin: 0 auto;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.wrapper .heading {
  text-transform: uppercase;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 30%;
  margin: 0;
  position: absolute;
  font-size: 3.2vw;
  font-weight: 700;
  text-shadow: 1px 4px 6px #e6e2df;
  white-space: nowrap;
}
.wrapper span {
  position: relative;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 550px;
  -ms-perspective: 550px;
  perspective: 550px;
  z-index: 1;
}

.wrapper span.char1,
span.char8 {
  color: #540d6e;
}
.wrapper > span.char1:hover,
span.char8:hover {
  color: #4d0c64;
}
.wrapper > span.char1:hover::after,
span.char1:hover::after {
  background: -webkit-linear-gradient(left, #4d0c64 0%, #733988 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper span.char2 {
  color: #ee4266;
}
.wrapper span.char2:hover {
  color: #d93c5d;
}
.wrapper span.char2:hover::after {
  background: -webkit-linear-gradient(left, #c33754 0%, #f16481 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper span.char3 {
  color: #ffd650;
}
.wrapper span.char3:hover {
  color: #ffd23f;
}
.wrapper span.char3:hover::after {
  background: -webkit-linear-gradient(left, #e8bf3a 0%, #ffde73 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper span.char4 {
  color: #3bceac;
}
.wrapper span.char4:hover {
  color: #31a98d;
}
.wrapper span.char4:hover::after {
  background: -webkit-linear-gradient(left, #31a98d 0%, #5ed6bb 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper span.char5 {
  color: #0ead69;
}
.wrapper span.char5:hover {
  color: #0c8e56;
}
.wrapper span.char5:hover::after {
  background: -webkit-linear-gradient(left, #0c8e56 0%, #39bb84 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper span.char6 {
  color: #0ead69;
}
.wrapper span.char6:hover {
  color: #0c8e56;
}
.wrapper span.char6:hover::after {
  background: -webkit-linear-gradient(left, #0c8e56 0%, #39bb84 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper span::before {
  -webkit-transform: scale(1.01, 1) skew(0deg, 1deg);
  -ms-transform: scale(1.01, 1) skew(0deg, 1deg);
  transform: scale(1.01, 1) skew(0deg, 1deg);
  color: transparent;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
}
.wrapper span::after {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-shadow: 2px 0px 1px hsla(0, 0%, 0%, 0.05);
  -webkit-transform: rotateY(-15deg);
  -ms-transform: rotateY(-15deg);
  transform: rotateY(-15deg);
}
.wrapper span::before,
.wrapper span::after {
  content: attr(data-heading);
  position: absolute;
  left: 0;
  -webkit-transform-origin: 0 50%;
  -ms-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wrapper span:hover::before {
  -webkit-transform: scale(0.85, 1) skew(0deg, 10deg);
  -ms-transform: scale(0.85, 1) skew(0deg, 10deg);
  transform: scale(0.85, 1) skew(0deg, 10deg);
}
.wrapper span:hover::after {
  -webkit-transform: rotateY(-40deg);
  -ms-transform: rotateY(-40deg);
  transform: rotateY(-40deg);
}
.espa {
  padding-right:25px;
}


#status span.status {
  display: none;
  font-weight: bold;
}
span.status.complete {
  color: green;
}
span.status.incomplete {
  color: red;
}
#status.complete span.status.complete {
  display: inline;
}
#status.incomplete span.status.incomplete {
  display: inline;
}

/* Boton */

.slidecontainer {
  width: 30px;
}

.slider {
  -webkit-appearance: none;
  width: 80px;
  height: 7px;
  background: #ffffff;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: var(--main-color2);
  cursor: pointer;
  border-radius: 100%;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--main-color2);
  cursor: pointer;
}

#time{
  color: white;
  background-color: #0c8e56;
}